.nav-menu {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: rgb(197, 255, 247);

}

.nav-menu__item {
    display: inline-block;
}

.nav-menu__item a {
    color: rgb(8, 0, 61);
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
}

.nav-menu__item a:hover {
    color: red;
}

.nav-menu__item a::after {
    content: "   -   ";
}