.caja-1{
    order: 1;
}

.contenedor {
    order: 3;
    width: 40%;
    height: 320px;
}

.caja-2 {
    width: 100%;
}
.caja-3 {
    width: 100%;

}

.caja-4 {
    order: 4;
    width: 30%;
}
.caja-5 {
    order: 2;
    width: 30%;
    height: 320px;
}

.caja-6 {
    order: 6;
}

